/* Form field */
/* Input form */
.inputCreateForm {
  border-radius: 16px !important;
  color: var(--primary-color);
}

/* Select form */
.selectCreateForm > .ant-select-selector {
  border-radius: 16px !important;
  color: var(--primary-color) !important;

}

/* Upload image */
.uploadImageForm > .ant-upload {
  background-color: #fff !important;
  border: 1px solid #c6c8c9 !important;
}

/* Radio */
.radioProjectType .ant-radio-wrapper {
  color: var(--primary-color) !important;
}
/* Google map input */
.googleMapInput {
  border-radius: 16px !important;
  height: 40px !important;
  font-size: 16px !important;
  padding: 8px 12px !important;
}

/* PreviewSummary Component */
.ant-card.previewSumCard {
  border-radius: 15px !important;
}
.previewPackageCol {
  padding: 6px;
  padding-inline: 20px !important;
  border-right: 1px solid #c6c8c9;
  border-bottom: 1px solid #c6c8c9;
}
.previewPackageCol:last-child {
  border-bottom: none;
}
.previewPackageRow {
  border-inline: 1px solid #c6c8c9;
  border-bottom: 1px solid #c6c8c9;
}

/* Confirm Modal */
.confirmModalFooter {
  gap: 24px !important;
}
.confirmModalFooter .cancelBtnColor {
  background-color: #d73232 !important;
  color: #fff !important;
  order: 2 !important;
  border-radius: 16px !important;
}
.confirmModalFooter .cancelBtnColor:hover {
  border-color: #fff !important;
  color: #fff !important;
  filter: brightness(1.1) !important;
}
.confirmModalFooter .spacer {
  margin-left: 0 !important;
}
.confirmModalFooter .primaryColor {
  order: 1 !important;
  background-color: #38be43 !important;
  border-radius: 16px !important;
}
.ant-modal-confirm-title span {
  font-weight: 700 !important;
  color: var(--primary-color);
}
.ant-modal-confirm-content div p {
  color: #929292 !important;
}

/* Checkbox */
.packageBoxCustom > .ant-checkbox-label {
  width: 100% !important;
}
.packageBoxCustom .ant-checkbox-wrapper-disabled .ant-checkbox-label {
  color: #3f3f3f !important;
}

/* Checkbox optional feature */
.optionalFeature .ant-checkbox-wrapper-disabled .ant-checkbox-label {
  color: #d3d3d3 !important;
}
.saveButton.projectButton {
  width: 100%;
  margin: 0;
}
/* Button */
.buttonGroupCreateProject .ant-btn {
  border-radius: 16px !important;
}
